# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Archives
*.zip

# Build output
dist/
build/
.next/

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
.env.production
.env.development
